@use 'variables' as *;
@use 'mixins' as *;


@font-face {
  font-family: 'Lexend Deca';
  src: url('@/assets/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}