@use 'variables' as *;
@use 'mixins' as *;


@font-face {
  font-family: 'Lexend Deca';
  src: url('@/assets/fonts/LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('@/assets/fonts/LexendDeca-Regular.ttf') format('truetype');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}